.car-box {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 100px;
    width: 1080px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.car-row {
    display: flex;
    flex-wrap: flex;
    justify-content: auto;
    align-items: center;
    width: calc(100%);
}

.car-item {
    width: calc(100%);
    margin: 5px;
    margin-top: auto;
    text-align: center;
}

.car-item img {
    max-width: 500;
    margin-top: 5px;
    height: auto;
    margin-bottom: 5px;
}

.car-item h2 {
    font-size: 2em;
    margin-bottom: 25px;
}

.car-item p.price {
    font-size: 2em;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}
